.table {
  display: flex;
}

.line {
  border: 1px solid red;
  margin: 0 10px;
  height: 100px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.line.selected,
.line:hover {
  box-shadow: 0 0 0 2px red;
}

.total {
  font-weight: bold;
  margin-bottom: 5px;
}

.player {
  background: lightGrey;
  width: 100%;
  margin: 5px 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.player-total {
  position: absolute;
  right: 10px;
  top: 8px;
}

.dice {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background: white;
  display: flex;
  border: 2px solid grey;
}

.dice svg {
  opacity: 1;
  transition: opacity 0.7s;
}

.dice.hidden svg {
  opacity: 0;
}

.player:first-child {
  transform: rotate(180deg);
}

.playing-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  border: 1px solid #0000ff;
  width: 400px;
  margin: 30vh auto;
  padding: 10px;
}

.playing-table.rotate {
  transform: rotate(180deg);
}

.endgame {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 40px;
  border-top: 10px solid lightgrey;
  border-bottom: 10px solid lightgrey;
  box-shadow: 0 0 10px grey;
  background: white;
  display: flex;
  justify-content: center;
}

.avatar {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  width: 100px;
}

.avatar:hover {
  background: red;
}

.avatar + .avatar {
  margin-left: 20px;
}

.player-avatar {
  position: absolute;
  right: 10px;
  bottom: 8px;
  width: 70px;
}

.player-avatar img {
  width: 70px;
}
